.cr-container {
    display: flex;
    padding: 0px;
    border-radius: 16px;
    justify-content: space-between;
}

.cr-container .metrics h2 {
    margin: 0 0 20px 0;
    font-family: 'Poppins';
    font-weight: 600;
}

.cr-container .metrics {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cr-container .results {
    flex: 0 0 46%;
    background: #1c192c;
    display: flex;
    gap: 30px;
    padding: 20px;
    flex-direction: column;
}

.result-card {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    background-color: rgb(4, 1, 23);
    color: white;
    display: flex;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    justify-content: center;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 6px;
    padding: 16px;
    flex: 1 0 150px;
    height: fit-content;
    gap: 5px;
}

.cr-container .results h2 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0em;
    color: white;
}

.result-card * {
    margin: 0;
}

.cr-container * {
    margin: 0;
}

.result-card p {
    width: fit-content;
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 25px;
    line-height: 1.334;
    letter-spacing: 0em;
    font-weight: 700;
}

.result-card h3 {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: gray;
}

.cr-container .results .currentmatrix {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.cr-container .results .currentmatrix .ct-flex {
    display: flex;
    gap: 20px;
}

h5 {
    margin: 0px 0px 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.57;
    letter-spacing: 0.00714em;
    color: rgb(8, 123, 185);
}

.cr-container .results .growth-metrics {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cr-container .results .growth-metrics .ct-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cr-container .results #bl {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    padding: 16px;
    background: linear-gradient(90deg, rgb(80, 162, 212) 0%, rgb(0, 119, 182) 100%);
    flex: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cr-container .results #bl * {
    color: #fff;
}

.cr-container .results #bl p {
    font-size: 30px;
}

.cr-container .results .hd-r {}

.cr-container .metrics h2 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0em;
    color: white;
    margin-bottom: 30px;
}

.cr-container .metrics input {
    font: inherit;
    background: transparent;
    border: 1px solid #fff;
    padding: 11px 15px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    width: 85%;
}

.cr-container .metrics label {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.00938em;
    color: white;
}

.cr-container .metrics .input {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 600px) {
    .cr-container {
        flex-direction: column;
        height: auto;
        gap: 30px;
        max-width: 92%;
        border-radius: 5px;
        height: 1169px;
        padding: 0;
    }
    
    .cr-container .metrics .input {
        flex: 0 0 100%;
        gap: 7px;
    }
    
    .cr-container .metrics {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 14px;
    }
    
    .cr-container .metrics input {
        width: 87%;
        padding: 6px 10px;
        font-size: 14px;
    }
    
    .cr-container .metrics h2 {
        flex: 0 0 100%;
        font-size: 20px;
        margin-bottom: 17px;
    }

    .cr-container .metrics label {
        font-size: 14px;
    }
    
    .cr-container .results h2 {
        font-size: 20px;
    }
    
    .cr-container .results .currentmatrix .ct-flex {
        flex-direction: column;
        gap: 15px;
    }
    
    .result-card h3 {
        font-size: 14px;
    }
    
    .result-card p {
        font-size: 18px;
    }
    
    .cr-container .results #bl p {
        font-size: 20px;
    }
    
    .cr-container .results {
        padding: 10px;
        gap: 15px;
    }
    
    .cr-container .results .growth-metrics .ct-flex {
        gap: 15px;
    }
}